<div class="article-tile">
  <h3>{{#link-to 'article' article.id}}{{article.title}}{{/link-to}}</h3>
  <h4>{{article.author}}</h4>
  {{#link-to 'article' article.id}}<img src={{article.image}}>{{/link-to}}
</div>
