
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      {{#link-to 'article' article.id}}<img src={{article.image}}>{{/link-to}}
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h3>{{#link-to 'article' article.id}}{{article.title}}{{/link-to}}</h3>
      </div>
      <div class="card-action">
        <p>by: {{article.author}}</p>
      </div>
    </div>
  </div>
</div>
